.catalog-detail {
  margin: 40px 0;
  
  .section-title {
    margin: 20px 0;
  }

  .main-content {
    display: flex;
    align-items: start;
    gap: 20px;

    .right.products {
      flex: 80%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0;
    }
  }
}
