.header-bar_btn {
  background-color: $main-bg;
  border: none;
  padding: 10px;
  border-radius: 100px;
  display: none;
  align-items: center;
  justify-content: center;
}

.section-discounted-products {
  .swiper-slide {
    .order-btn {
      span:last-child {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1140px !important;
  }
  .section-banner {
    .banner-images {
      img {
        max-width: 240px;

        &:nth-child(2) {
          max-width: 560px;
        }
      }
    }
  }

  .announcement-banner {
    .left {
      p {
        font-size: 22px;
      }

      h3 {
        font-size: 28px;
      }
    }

    .images {
      img {
        width: 30%;
      }
    }
  }

  footer {
    .footer-columns {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      .column,
      .column .box .social-links {
        text-align: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 360px;
  }

  .header-inner {
    gap: 10px;
    max-width: 540px;
    min-width: 340px;
    padding: 10px 0 !important;

    .left-content {
      order: 2;

      .catalogs-btn_link {
        display: none !important;
      }

      .location-select {
        width: 100%;

        .selected {
          span {
            position: absolute;
            right: 20px;
          }
        }
      }
    }

    .right-content {
      display: none !important;
    }

    .header-bar_btn {
      display: flex;
      order: 3;
    }

    .logo {
      img {
        width: 40px !important;
        height: 40px !important;
      }
    }
  }

  .section-banner {
    margin: 20px 0;

    .banner-images {
      display: none !important;
    }

    .banner-swiper {
      display: block !important;
      margin-top: 105px;

      img {
        width: 100%;
      }
    }

    .mini-banner.brands {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px !important;

      .brand-item {
        height: 42px;
        border-radius: 6px !important;
        &:last-child {
          img {
            width: 40px;
          }
        }
      }
    }
  }

  .section-title {
    margin: 0;

    .title {
      font-size: 26px;
      font-weight: 600;
    }
  }

  .section-discounted-products {
    .swiper-slide {
      display: flex;
      gap: 10px;
      padding: 10px 20px;
      min-width: 300px !important;
      position: relative;

      .img-box {
        img {
          width: 125px !important;
          height: 125px;
        }
      }

      .body {
        gap: 20px !important;
        .title {
          font-size: 13px;
        }

        & > span {
          font-size: 12px;
        }

        .price {
          font-size: 16px !important;
        }

        .order-btn {
          position: absolute;
          bottom: 0;
          right: 0;
          border-radius: 15px 0 15px 0 !important;
          padding: 10px !important;

          span {
            opacity: 1 !important;

            &:first-child {
              display: none;
            }

            &:last-child {
              display: block;
            }
          }
        }
      }

      .discount {
        font-size: 12px;
        padding: 3px 6px;
        top: 5px;
        left: 5px;
      }

      .favourite-btn {
        top: 8px;
        right: 5px;
      }
    }
  }

  .section-special {
    .special-menu {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px !important;

      .special-box {
        height: 123px !important;

        .title {
          font-size: 16px !important;
        }

        &:first-child {
          grid-area: 1 / 1 / 2 / 3;

          img {
            max-width: 102px !important;
            max-height: 82px !important;
          }
        }

        &:last-child {
          grid-area: 1 / 3 / 2 / 4;

          img {
            max-width: 81px !important;
            max-height: 61px !important;
          }
        }

        &:nth-child(2) {
          grid-area: 2 / 1 / 3 / 2;

          img {
            max-width: 76px !important;
            max-height: 76px !important;
          }
        }

        &:nth-child(3) {
          grid-area: 2 / 2 / 3 / 4;

          img {
            max-width: 150px !important;
            max-height: 68px !important;
          }
        }
      }
    }
  }

  /* Section Catalog */

  .section-catalog {
    .catalog-menu {
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 10px !important;

      .catalog-box {
        flex-direction: column-reverse;
        gap: 20px !important;
        padding: 20px !important;
        .title {
          font-size: 16px !important;
          margin: 0 !important;
        }
        img {
          width: 125px !important;
          height: 125px;
        }

        &:last-child {
          grid-row: 3 !important;
          grid-column: 1 / 3 !important;
          display: flex;
          flex-direction: row !important;

          svg {
            width: 34px;
          }
        }
      }
    }
  }

  /* Section Products */

  .section-products {
    .products-filter {
      overflow: auto;
      max-width: 400px;
      border-radius: 0 !important;
      transform: translateX(-25px);
      padding: 20px;
      margin: 0 auto;
      border-radius: 0;
      align-items: center;
      gap: 10px;
    }
  }

  .section-products .products-filter .filter-box {
    font-size: 14px;
    padding: 12px;
    min-width: 120px;
  }

  .section-products .products {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .section-products .product-box .title {
    font-size: 14px;
    font-weight: 500;
  }

  .section-products .product-box span {
    font-size: 12px;
  }

  .section-products .product-box .price-tag {
    flex-direction: column;
    align-items: start;
  }

  .section-products .product-box .price {
    font-size: 16px;
    font-weight: 600;
  }

  .section-products .product-box .old-price {
    font-size: 12px;
  }

  .section-products .product-box .order-btn {
    font-size: 14px;
  }

  .section-products .product-box .order-btn svg {
    width: 15px;
    height: 15px;
  }

  .section-products .product-box .count-box {
    padding: 6px 20px;
  }

  .section-products .product-box img {
    width: 165px;
    height: 165px;
  }

  /* Section Announcement banner */

  .announcement-banner .section-inner {
    display: flex;
    justify-content: space-between;
  }

  .announcement-banner .images {
    display: none;
  }

  .announcement-banner .mobile-image {
    display: block;
    width: 100%;
    height: 100%;
  }

  .announcement-banner .left p {
    font-size: 16px;
  }

  .announcement-banner .left h3 {
    font-size: 26px;
  }

  /* Section gift sertification */
  .gift-sertifications .sertification-card .title {
    font-size: 16px;
  }

  .gift-sertifications .sertification-card .top h1 {
    font-size: 32px;
  }

  .gift-sertifications .sertification-card .top button {
    font-size: 10px;
  }

  .gift-sertifications .sertification-card .desc {
    font-size: 13px;
  }

  .gift-sertifications .sertification-card .date {
    font-size: 12px;
  }

  .gift-sertifications .sertification-card {
    max-width: 360px;
  }

  .gift-sertifications .sertification-card .body {
    width: 240px;
    justify-content: space-between;
  }

  footer .footer-columns {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .logo.footer-logo {
    display: none;
  }
}
